body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8b400;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 0px;
}

.fruit-sections {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

section {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

section img {
    max-width: 100px; /* Set the desired width for the images */
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer form {
    margin-top: 10px;
}

footer input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

footer button {
    padding: 10px 20px;
    background-color: #f8b400;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

footer button:hover {
    background-color: #e0a200;
}

.carousel {
    position: relative;
}
  
.carousel__item {
    height: 300px;
    background: grey;
    padding: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    display: none;
}
  
.carousel__item--selected {
    display: block;
}
  
.carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
  
.carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
  
.carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
}
  
/* Css by Fatuma */

.transform1 {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trans {
    display: flex;
    margin: 0;
}
.trans img {
    max-width: 100rem;

}
.transform1 h1 {
    text-align: left;
    line-height: 35px;
    font-size: 30px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
}
.transform1 p {
    width: 400px;
    text-align: left;
    line-height: 30px;
}
.transform1 .learn {
    text-align: left;
    margin-left: -290px;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color: #000;
    border-bottom: 4px solid yellow;
    
}